<!DOCTYPE html>
<html >
  <head>
    <title>PV</title>
    <meta charset="utf-8">
  </head>
 
   		
	</head>
	<body>
<div>
    <div style="clear:both;">
        <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
        <p style="margin-top:0pt; margin-bottom:0pt;"><span style="height:0pt; display:block; position:absolute; z-index:-65537;"><img src="https://myfiles.space/user_files/198159_3b0f4820f9ce2937/1708430731_attestation-d-inscription/1708430731_attestation-d-inscription-1.jpeg" width="799" height="130" alt="C:\Users\SG-ensat\Desktop\logo.png" style="margin: 0 0 0 auto; display: block; "></span>&nbsp;</p>
       <br>
    <br>
    <br>


        <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
        <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
        <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
        <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;"><strong><span style="text-transform:uppercase;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></strong></p>
        <p style="margin-top:0pt; margin-bottom:0pt;"><span style="width:35.4pt; display:inline-block;">&nbsp;</span></p>
        <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><u><span style="display:none;">SERVICE DES AFFAIRES ESTUDIANTINES</span></u><u><span style="font-size:10pt; display:none;">UNITE DU RESIDANAT ET DE L&rsquo;INTERNAT</span></u><span style="font-size:10pt; display:none;">&nbsp;</span></p>
    </div>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt;">UNITE DE 3EME CYCLE</p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:8pt;">SERVICE DE SCOLARITE</p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:14pt;"><strong><span style="font-family:Arial;">&nbsp;</span></strong></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:16pt;"><strong><span style="font-family:Arial;">&nbsp;</span></strong></p>
    <h2 style="margin-top:0pt; margin-bottom:0pt; text-align:center; page-break-after:avoid; font-size:22pt;"><u><span style="font-family:'Bookman Old Style';">ATTESTATION D&rsquo;INSCRIPTION</span></u></h2>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:14pt;"><span style="font-family:Arial;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;"><span style="font-family:Arial;">&nbsp;</span></p>

    <p style="margin:0pt 7.05pt 0pt 7.1pt;  font-size:15pt;"><span >Le Doyen de la Facult&eacute; de M&eacute;decine et de Pharmacie de Tanger ,
     soussign&eacute;, atteste que:</span></p>
     <br><br>
    <table>
              <tr>
              
              	<td >
              	<span style="margin:0pt 7.05pt 0pt 7.1pt;  font-size:15pt; text-align: justify;">	Le Docteur </span>
              	</td>
                <td>
                 <span style="margin:0pt 7.05pt 0pt 7.1pt;  font-size:15pt; text-align: justify;"> &nbsp;&nbsp; : <strong>{{candidate.nom}} {{candidate.prenom}}</strong> </span>
                </td>
              </tr>
	      			<tr>
                
                <td>
              <span style="margin:0pt 7.05pt 0pt 7.1pt;  font-size:15pt;">   Né (e) le </span>
                </td>
                <td>
                <span style="margin:0pt 7.05pt 0pt 7.1pt;  font-size:15pt; text-align: justify;">   &nbsp;&nbsp; : {{candidate.dateNaissance}} </span>
                </td>
              </tr>
              <tr>
              	
              	<td>
              	<span style="margin:0pt 7.05pt 0pt 7.1pt;  font-size:15pt; text-align: justify;">	CIN   </span>
              	</td>
                <td>
                  <span style="margin:0pt 7.05pt 0pt 7.1pt;  font-size:15pt; text-align: justify;"> &nbsp;&nbsp; : {{candidate.cin}} </span>
                </td>
              </tr>
           


	      			<tr>
                <td>
                 <span style="margin:0pt 7.05pt 0pt 7.1pt;  font-size:15pt; text-align: justify;"> Nationalité </span>
                </td>
                <td>
                  <span style="margin:0pt 7.05pt 0pt 7.1pt;  font-size:15pt; text-align: justify;"> &nbsp;&nbsp; : {{candidate.nationnalite}} </span>
                </td>
              </tr>
 
 



  			</table>

        <br> <br>
   
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:200%; font-size:15pt;"><span >est M&eacute;decin- R&eacute;sident(e),</span>
    <span >&nbsp;</span>
    <span >sp&eacute;cialité <strong>{{candidate.specialite.intitule}} </strong></span>
    <span style="font-family:'Bookman Old Style';">,&nbsp;</span><span >au Centre Hospitalier Universitaire de Tanger. Il(elle) est inscrit(e)</span>
    <strong><span >&nbsp;</span></strong><span >en&nbsp;</span><strong><span style="font-family:'Bookman Old Style';">1</span></strong><strong><span style="line-height:200%; font-family:'Bookman Old Style'; font-size:8.67pt;"><sup>&egrave;re</sup></span></strong><strong><span style="font-family:'Bookman Old Style';">&nbsp;ann&eacute;e</span></strong>
    <span >&nbsp;de R&eacute;sidanat depuis le&nbsp;</span><strong><span style="font-family:'Bookman Old Style';">27 F&eacute;vrier 2023.&nbsp;</span></strong><span style="font-family:'Bookman Old Style';">La&nbsp;</span><strong><span style="font-family:'Bookman Old Style';">dur&eacute;e de la formation</span></strong><span style="font-family:'Bookman Old Style';">&nbsp;en&nbsp;</span><strong><span style="font-family:'Bookman Old Style';">{{candidate.specialite.dureeFormation}}&nbsp;</span></strong><span style="font-family:'Bookman Old Style';">ans.&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:15pt;"><span style="font-family:'Bookman Old Style';">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:15pt;">Cette attestation est d&eacute;livr&eacute;e &agrave; l&apos;int&eacute;ress&eacute;(e) pour servir et valoir  ce que de droit.</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <h1 style="margin-top:0pt; margin-bottom:0pt; text-align:right; page-break-after:avoid; font-size:12pt;"><u>
    <span >Tanger, le</span></u><u><span style="font-family:'Bookman Old Style';">&nbsp;&nbsp;</span></u><u><span style="font-family:'Bookman Old Style';">{{ "now"|date("d/m/Y") }}.</span></u><u><span style="font-family:'Bookman Old Style';">&nbsp;&nbsp;</span></u></h1>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;"><span style="width:193.15pt; display:inline-block;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
     <br><br><br>
      <br><br><br>
       <br>
    <div style="clear:both;">
        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;">Facult&eacute; de M&eacute;decine et  de Pharmacie de Tanger B.P&nbsp;:365 GZENAYA KM  15 Route de  Rabat-Tanger</p>
        <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:12pt;">Tel.&nbsp;: <span dir="rtl">05</span><span dir="ltr">.</span><span dir="rtl">39</span><span dir="ltr">.</span><span dir="rtl">40</span><span dir="ltr">.</span><span dir="rtl">38</span><span dir="ltr">.</span><span dir="rtl">04</span><span dir="ltr">/ fax</span> :05.39.39.21.46</p>
        <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    </div>
</div>
	</body>
</html>

