<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
	<div class="app-brand demo" style="height: 220px; padding: 0 22px; margin: 33px 0">
		<a href="{{ path('dashboard') }}" class="app-brand-link d-flex gap-1">
			<span class="app-brand-logo demo" style="">
				<img src="{{ asset('assets/img/icons/logo/logo_fmpt.png') }}" style="object-fit:cover; height: 200px; margin: 0 auto;" alt="">
			</span>
		</a>
	</div>

	<div class="menu-inner-shadow"></div>

	<ul
		class="menu-inner py-1">
		<!-- Dashboard -->
		<li class="menu-item" id="dashboard">
			<a href="{{ path('dashboard') }}" class="menu-link">
				<i class="menu-icon tf-icons bx bx-home-circle"></i>
				<div data-i18n="Analytics">Acceuil</div>
			</a>
		</li>

		<li class="menu-item" id="members">
			<a href="{{ path('app_candidate') }}" class="menu-link">

				<i class='menu-icon bx bx-user'></i>
				<div data-i18n="Members">Affectation</div>
			</a>
		</li>

		<li class="menu-item" id="teams">
			<a href="{{ path('app_document') }}" class="menu-link">

				<i class='menu-icon bx bx-file'></i>
				<div data-i18n="Members">Documents</div>
			</a>
		</li>

		<li class="menu-item" id="clients">
			<a href="{{ path('app_attestation') }}" class="menu-link">
				<i class='menu-icon bx bx-user-pin'></i>
				<div data-i18n="Members">Attesstations</div>
			</a>
		</li>

	</ul>
</aside>
