{% extends 'base.html.twig' %}

{% block title %}Hello CandidateController!
{% endblock %}

{% block content %}
	<div class="card">
		<div class="table-responsive">
			<h3 class="card-header">List des  Candidat</h3>
			{% for type in type_list %}


				<h4 class="card-header text-center">{{type.intitule}}</h4>


				<table class="table table-striped" id="client_table">


					<thead>
						<tr>
							<th style="width: 10rem;">Rang</th>

							<th style="width: 10rem;">CIN</th>

							<th style="width: 10rem;">Nom</th>

							<th style="width: 10rem;">Prenom</th>

							<th style="width: 10rem;">Nationalite</th>

							<th style="width: 10rem;">Fonctionnaire</th>


							<th style="width: 20rem;">Option</th>


							<th style="width: 20rem;">Specialite</th>


						</tr>
					</thead>
					<tbody>
						{% for Candidat in candidat_list %}

							{% if (Candidat.type.intitule == type.intitule) %}

								<tr>
									<td>{{ Candidat.Rang }}</td>
									<td>{{ Candidat.cin }}</td>
									<td>{{ Candidat.nom }}</td>
									<td>{{ Candidat.prenom }}</td>
									<td>{{ Candidat.nationnalite }}</td>
									<td>{{ Candidat.Fonctionnaire ? "oui":"Non" }}</td>
									<td>
										{% if Candidat.Fonctionnaire == true or Candidat.nationnalite !='MAROCAINE'   %}

											<select class="form-select" id="categorie_{{ Candidat.id }}" disabled>


												<option value="{{ Candidat.categorie.id }}" id="categorie_{{ Candidat.id }}_{{ Candidat.categorie.id }}">{{Candidat.categorie.intitule}}</option>

											</select>

										{% else %}
											<select class="form-select" id="categorie_{{ Candidat.id }}">
												{% for categorie in categorie_list %}
													{% if categorie.intitule != 'Benevole etranger' %}


														<option value="{{ categorie.id }}" id="categorie_{{ Candidat.id }}_{{ categorie.id }}">{{categorie.intitule}}</option>
													{% endif %}

												{% endfor %}
											</select>

										{% endif %}


									</td>


									<td>
										{% if Candidat.Fonctionnaire == true    %}
											<select class="form-select" id="Specialite_{{ Candidat.id }}">


												{% for Specialite in spC %}

													{% if Specialite.type == type %}

														<option value="{{ Specialite.id }}" id="categorie_{{ Candidat.id }}_{{Specialite.id }}">{{ Specialite.intitule }}</option>

													{% endif %}
												{% endfor %}
											</select>

										{% elseif  Candidat.nationnalite !='MAROCAINE'   %}
											<select class="form-select" id="Specialite_{{ Candidat.id }}">


												{% for Specialite in spB %}

													{% if Specialite.type == type %}

														<option value="{{ Specialite.id }}" id="categorie_{{ Candidat.id }}_{{Specialite.id }}">{{ Specialite.intitule }}</option>

													{% endif %}
												{% endfor %}
											</select>

										{% else %}
											<select class="form-select" id="Specialite_{{ Candidat.id }}">


												{% for Specialite in Specialite_list %}


													{% if Specialite.type == type %}

														<option value="{{ Specialite.id }}" id="categorie_{{ Candidat.id }}_{{Specialite.id }}">{{ Specialite.intitule }}</option>

													{% endif %}
												{% endfor %}
											</select>


										{% endif %}

									</td>

									<td>
										<a class="btn btn-primary btn-sm edit_client_btn" data-id="{{ Candidat.id }}" style="width: 2.6rem;" href="javascript:void(0);">

											<i class="bx bx-check me-1"></i>
										</a>

									</td>

								</tr>

							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			{% endfor %}
		</div>
	</div>
	{% block javascript %}
		<script>
			$(document).on('click', '.edit_client_btn', function () {
let id = $(this).data('id');
let url = "{{ path('update_candidate', {id: 'p_id',id1:'p_id1',id2:'p_id2'}) }}";
let id1 = $("#Specialite_".concat(id))[0].value;
let id2 = $("#categorie_".concat(id))[0].value;


event.preventDefault();
// Data validation
let fields = [id1, id2];

let isValid = true;

fields.forEach(field => {
if (field === "") { // field.addClass("error");
isValid = false;
}
});

if (isValid) {
$.ajax({
url: url.replace('p_id', id).replace('p_id1', id1).replace('p_id2', id2),


method: 'POST',
data: $(this).serialize()
}).then((response) => {
if (response == "updated") {
Swal.fire({
icon: 'success',
title: 'Updated',
text: 'The client has been updated.',
confirmButtonColor: '#3085d6',
confirmButtonText: 'OK',
timer: 1000
}).then(function () {
setTimeout(function () {
location.reload()
}, 500);
});
}
})
}
})
		</script>
	{% endblock %}
{% endblock %}
