<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<div>
		<table>

			<tr>

				<td style="width: 20rem; text-align: center;">Royaume du Maroc
					<br>
					Université Abdelmalek Essaidi
					<br>
					Faculté de Médecine et de pharmacie
					<br/>Tanger</td>


				<td style="width: 20rem;"><img src="http://127.0.0.1:8000/assets/img/icons/logo/fmpt.png"/></td>


				<td style="width: 20rem; text-align: center;">المملكة المغربية
					<br/>جامعة عبد المالك السعدي<br/>
					كلية الطب والصيدلة<br/>
					طنجة</td>


			</tr>
		</table>

		{% if type_list|length > 1 %}


			<h1 style="margin-top:20pt; margin-left:35.4pt; margin-bottom:2pt; text-indent:35.4pt; page-break-inside:avoid; page-break-after:avoid; border-bottom:0.75pt solid #1cade4; padding-bottom:1pt; font-size:20pt; background-color:#ffffff; text-align:center;">

				<span style="font-family:Tahoma; font-weight:normal;">PV R&eacute;partition des Sp&eacute;cialit&eacute;s du concours de r&eacute;sidanat session du
					{{session.session}}(
					{% autoescape false %}

						{{session.JourConference|striptags}}
					{% endautoescape %}&agrave;&nbsp;</span>


				<span style="font-family:Tahoma;" dir="rtl"></span>
				<span style="font-family:Tahoma; font-weight:normal;">
					la salle de conf&eacute;rence)</span>
			</h1>
			<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
			<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
			<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>


			<p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:150%; font-size:17pt;">La facult&eacute; de M&eacute;decine et de Pharmacie de Tanger a proc&eacute;d&eacute; le
				{% autoescape false %}

					{{session.JourConference|striptags}}
				{% endautoescape %}


				&agrave;  &agrave; la salle de conf&eacute;rence, &agrave; l&rsquo;op&eacute;ration des choix des sp&eacute;cialit&eacute;s par les m&eacute;decins admis au concours de r&eacute;sidanat session
			</p>

			<strong>
				<span style="line-height:150%; font-family:Tahoma; font-size:16pt;">{{session.session}}</span>

			</strong>

			<p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:150%; font-size:17pt;">Cette&nbsp; r&eacute;union a &eacute;t&eacute; pr&eacute;sid&eacute;e par Pr OULMAATI ABDALLAH &nbsp; Doyen de la Facult&eacute; de M&eacute;decine de Tanger, et ce en pr&eacute;sence de&nbsp;:</p>


			<p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt; text-align:justify; line-height:150%; font-size:17pt;">-<span style="width:13.67pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Mr MERRON BOUCHTA
				<span style="line-height:150%; font-size:12pt;">&nbsp;</span>
				repr&eacute;sentant de la direction du CHU de Tanger&nbsp; .<span style="line-height:150%; font-size:12pt;">&nbsp;</span>

			</p>
		</p>
		<p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt; text-align:justify; line-height:150%; font-size:17pt;">-<span style="width:13.67pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;</span>Mme ABDELADIM NADIA , Repr&eacute;sente le Minist&egrave;re de Sant&eacute;.</p>
		<p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt; text-align:justify; line-height:150%; font-size:17pt;">-<span style="width:13.67pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Pr EL MADI AZIZ, Vice-Doyen des Affaires Acad&eacute;miques FMPT&nbsp;.</p>
		<p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt; text-align:justify; line-height:150%; font-size:17pt;">-<span style="width:13.67pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			Pr CHAHBOUNE RAJAA, Vice-Doyen  charg&eacute;e &agrave; la formation (pharmacie) de FMPT.</p>
		<p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt; text-align:justify; line-height:150%; font-size:17pt;">-<span style="width:13.67pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Mme Hanane Hammich Secr&eacute;taire G&eacute;n&eacute;rale de la FMPT.</p>
		<p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt; text-align:justify; line-height:150%; font-size:17pt;">-<span style="width:13.67pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Mr Mohamed Fekrouni, Responsable service Scolarit&eacute;-Cours Examens.</p>
		<p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; text-indent:-18pt; text-align:justify; line-height:150%; font-size:17pt;">-<span style="width:13.67pt; font:7pt 'Times New Roman'; display:inline-block;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Les M&eacute;decins r&eacute;sidants admis au concours de r&eacute;sidanat</p>
		<p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:150%; font-size:16pt;">&nbsp;</p>
		<p style="margin-top:0pt; margin-bottom:0pt; font-size:17pt;">La r&eacute;partition d&eacute;finitive des r&eacute;sidants dans les sp&eacute;cialit&eacute;s m&eacute;dicales, chirurgicales et biologique est r&eacute;sum&eacute;e dans le tableau ci-joint&nbsp;:</p>

		<p style="margin-top:0pt; margin-bottom:6pt; line-height:110%; font-size:13pt;"><br style="page-break-before:always; clear:both;"></p>
		<p style="margin-top:0pt; margin-bottom:10pt; text-align:center; font-size:17pt;">
			<strong>
				<u>
					<span style="font-family:'Century Gothic';">R&eacute;partition des Postes Du Concours de R&eacute;sidanat Session
						{{session.session}}</span>

				</u>
			</strong>
			<strong>
				<u>
					<span style="font-family:'Century Gothic';">&nbsp;&nbsp;</span>
				</u>
			</strong>
			<strong>
				<u>
					<span style="font-family:'Century Gothic';">
						,
						{% autoescape false %}

							{{session.JourConference|striptags}}
						{% endautoescape %}

					</span>


				</u>
			</strong>
			<strong>
				<u>
					<span style="font-family:'Century Gothic';">&nbsp;&nbsp;</span>
				</u>
			</strong>
			<strong>
				<u>
					<span style="font-family:'Century Gothic';">&agrave;  la Salle de conf&eacute;rence</span>
				</u>
			</strong>
			<strong>
				<u>
					<span style="font-family:'Century Gothic';">&nbsp;&nbsp;</span>
				</u>
			</strong>
		</p>
		<br/><br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>


	{% endif %}

	{% for type in type_list %}

		<br/><br/></br>
	<table cellspacing="0" cellpadding="0" style="width:100%; border-collapse:collapse;border-style:solid; border-width:1pt; ">

		<tr style="height:19.5pt;">
			<td colspan="4" style="width:475.45pt; border-style:solid; border-width:1pt; padding-right:3pt; padding-left:3pt; vertical-align:top; background-color:#8adaf0;">
				<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;">
					<strong>
						<span style="font-family:'Century Gothic';">Domaine</span>
					</strong>
					<strong>
						<span style="font-family:'Century Gothic';">&nbsp;</span>
					</strong>
					<strong>
						<span style="font-family:'Century Gothic';">:
							{{type.intitule}}</span>

					</strong>
				</p>
			</td>
		</tr>
	</table>
	<table cellspacing="0" cellpadding="0" style="width:100%; border-collapse:collapse;border-style:solid; border-width:1pt; ">


		<thead>


			<tr style="height:36.75pt;">
				<td style="width:190.75pt; border-right-style:solid; border-right-width:1pt; border-left-style:solid; border-left-width:1pt; border-bottom-style:solid; border-bottom-width:1pt; padding-right:3pt; padding-left:3pt; vertical-align:top; background-color:#8adaf0;">
					<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;">
						<span style="font-family:'Century Gothic';">SPECIALITES
							{{type.intitule}}</span>

					</p>
				</td>
				<td style="width:79.95pt; border-right-style:solid; border-right-width:1pt; border-bottom-style:solid; border-bottom-width:1pt; padding-right:3pt; padding-left:3.5pt; vertical-align:top; background-color:#8adaf0;">
					<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;">
						<span style="font-family:'Century Gothic';">Type</span>
					</p>
				</td>
				<td style="width:79.95pt; border-right-style:solid; border-right-width:1pt; border-bottom-style:solid; border-bottom-width:1pt; padding-right:3pt; padding-left:3.5pt; vertical-align:top; background-color:#8adaf0;">
					<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;">
						<span style="font-family:'Century Gothic';">Rang</span>
					</p>
				</td>

				<td style="width:111.4pt; border-right-style:solid; border-right-width:1pt; border-bottom-style:solid; border-bottom-width:1pt; padding-right:3pt; padding-left:3.5pt; vertical-align:top; background-color:#8adaf0;">
					<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;">
						<span style="font-family:'Century Gothic';">Nom et Pr&eacute;nom&nbsp;</span>
					</p>
				</td>
				<td style="width:72.35pt; border-right-style:solid; border-right-width:1pt; border-bottom-style:solid; border-bottom-width:1pt; padding-right:3pt; padding-left:3.5pt; vertical-align:top; background-color:#8adaf0;">
					<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;">
						<span style="font-family:'Century Gothic';">Signature</span>
					</p>
				</td>
			</tr>
		</thead>

		<tbody>

			{% set T = 0 %}
			{% set F = [] %}

			{% for Specialite in type.specialites %}
				{% if Specialite.intitule != 'Sans choix' %}


					{% for Post in Specialite.posts %}

						{% set index = 0 %}
						{% set rowTotal = Post.nbrPost %}

						{% set k =T %}
						{% set T = T + Post.nbrPost - 1 %}


						{% for i in k..T %}

							{% set index = index + 1 %}

							<tr style="height:19.5pt;">
								<td style="width:190.75pt; border-right-style:solid; border-right-width:1pt; border-left-style:solid; border-left-width:1pt; border-bottom-style:solid; border-bottom-width:1pt; padding-right:3pt; padding-left:3pt; vertical-align:top;">
									<p style="margin-top:0pt; margin-bottom:0pt; font-size:14pt;">
										<span style="font-family:'Century Gothic';">
											{% autoescape false %}
												{{Post.Specialite.intituleHtml|striptags}}


											{% endautoescape %}
										</span>


										<span style="font-family:'Century Gothic';">&nbsp;&nbsp;</span>
									</p>
								</td>
								{% if index == 1 %}
									<td rowspan="{{rowTotal}}" style="width:79.95pt; border-right-style:solid; border-right-width:1pt; border-left-style:solid; border-left-width:1pt; border-bottom-style:solid; border-bottom-width:1pt; padding-right:3pt; padding-left:3pt; vertical-align:top;">
										{% autoescape false %}

											{{Post.categorie.intituleHtml|striptags}}


										{% endautoescape %}
									</td>


								{% endif %}
								<td style="width:111.4pt; border-right-style:solid; border-right-width:1pt; border-bottom-style:solid; border-bottom-width:1pt; padding-right:3pt; padding-left:3.5pt; vertical-align:top;">
									{% if candidate_list_affecter[Post.categorie.id][Post.specialite.id] is defined and candidate_list_affecter[Post.categorie.id][Post.specialite.id] not in F %}

										{{ candidate_list_affecter[Post.categorie.id][Post.specialite.id].Rang}}


									{% endif %}

								</td>


								<td style="width:111.4pt; border-right-style:solid; border-right-width:1pt; border-bottom-style:solid; border-bottom-width:1pt; padding-right:3pt; padding-left:3.5pt; vertical-align:top;">
									{% if candidate_list_affecter[Post.categorie.id][Post.specialite.id] is defined and candidate_list_affecter[Post.categorie.id][Post.specialite.id] not in F %}


										{{ candidate_list_affecter[Post.categorie.id][Post.specialite.id].nom}}
										{{ candidate_list_affecter[Post.categorie.id][Post.specialite.id].prenom}}

										{% set F = F|merge([candidate_list_affecter[Post.categorie.id][Post.specialite.id]]) %}


									{% endif %}


								</td>
								<td style="width:72.35pt; border-right-style:solid; border-right-width:1pt; border-bottom-style:solid; border-bottom-width:1pt; padding-right:3pt; padding-left:3.5pt; vertical-align:top;">
									<p style="margin-top:0pt; margin-bottom:0pt; font-size:14pt;">
										<span style="font-family:'Century Gothic';">&nbsp;</span>
									</p>
								</td>

							</tr>
						{% endfor %}


					{% endfor %}
				{% endif %}

			{% endfor %}


		</tbody>
		{% for typeT in totalByType %}

			{% if typeT["intitule"] == type.intitule %}
				<tr style="height:28.7pt;">
					<td style="width:173.5pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#8adaf0;">
						<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;">
							<span style="font-family:'Century Gothic';">Sous Total</span>
						</p>
					</td>
					<td style="width:95.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#8adaf0;">
						<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;">
							<span style="font-family:'Century Gothic';">&nbsp;</span>
						</p>
					</td>
					<td style="width:145.15pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#8adaf0;">
						<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;">
							<span style="font-family:'Century Gothic';">{{typeT["somme"]}}</span>


						</p>
					</td>
					<td style="width:67.15pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#8adaf0;">
						<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;">
							<span style="font-family:'Century Gothic';">&nbsp;</span>
						</p>
					</td>
					<td style="width:67.15pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#8adaf0;">
						<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;">
							<span style="font-family:'Century Gothic';">&nbsp;</span>
						</p>
					</td>


				</tr>
			{% endif %}

		{% endfor %}

		{% if type.intitule =='PHARMACIE'  and  type_list|length > 1 
	%}


			<tr style="height:28.7pt;">
				<td style="width:173.5pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#8adaf0;">
					<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;">
						<span style="font-family:'Century Gothic';">
							Total</span>
					</p>
				</td>
				<td style="width:95.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#8adaf0;">
					<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;">
						<span style="font-family:'Century Gothic';">&nbsp;</span>
					</p>
				</td>
				<td style="width:145.15pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#8adaf0;">
					<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;">
						<span style="font-family:'Century Gothic';">{{Total["total"]}}</span>


					</p>
				</td>
				<td style="width:67.15pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#8adaf0;">
					<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;">
						<span style="font-family:'Century Gothic';">&nbsp;</span>
					</p>
				</td>
				<td style="width:67.15pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#8adaf0;">
					<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;">
						<span style="font-family:'Century Gothic';">&nbsp;</span>
					</p>
				</td>

			</tr>

		{% endif %}
	</table>
{% endfor %}

{% if type_list|length > 1 %}


	<br/><br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/><br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>


	<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
	<p style="margin-top:0pt; margin-bottom:6pt; line-height:110%;"><br style="page-break-before:always; clear:both;"></p>
	<p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
	<p style="margin-top:0pt; margin-bottom:0pt; font-size:18pt;"></p>
	<h2>Les membres de la commission :</h2>

	<ul>
		<li>
			<h4>Mme ABDELADIM NADIA</h4>
		</li>
		<li>
			<h4>Pr EL MADI AZIZ</h4>
		</li>


		<li>
			<h4>Pr CHAHBOUNE RAJAA
			</h4>

		</li>

		<li>
			<h4>Mr MERROUN BOUCHTA</h4>


		</li>


		<li>
			<h4>Mme HAMMICH HANANE
			</h4>

		</li>
		<li>
			<h4>
				Mr FEKROUNI MOHAMED</h4>
		</li>


	</ul>

	<h2>Le pr&eacute;sident de la commission :</h2>
	<h3>&nbsp;&nbsp;&nbsp; Monsieur le Doyen de la Facult&eacute; de M&eacute;decine et de Pharmacie de Tanger&nbsp; Pr. OULMAATI ABDALLAH&nbsp;</h3>
{% endif %}</html>
