{% block content %}


	<h3 class="card-header" style="text-align:center">PV</h3>

	{% for type in type_list %}


		<h3 style="text-align:center">{{type.intitule}}</h3>


		<table class="table table-striped" id="client_table">


			<thead>
				<tr scope="row">


					<th scope="col" style="width: 10rem;">CIN</th>


					<th scope="col" style="width: 10rem;">Nom</th>


					<th scope="col" style="width: 10rem;">Prenom</th>

					<th scope="col" style="width: 10rem;">Nationalite</th>

					<th scope="col" style="width: 10rem;">Specialite</th>


					<th scope="col" style="width: 10rem;">categorie</th>

				</tr>
			</thead>
			<tbody>
				{% for Candidat in candidate_list_affecter %}


					{% if (Candidat.type.intitule == type.intitule) %}


						<tr scope="row">


							<td style="text-align:center">{{ Candidat.cin }}</td>

							<td style="text-align:center">{{ Candidat.nom }}</td>

							<td style="text-align:center">{{ Candidat.prenom }}</td>

							<td style="text-align:center">{{ Candidat.Nationnalite }}</td>


							<td style="text-align:center">{{ Vide =='NoN' ?( Candidat.Specialite ? Candidat.Specialite.intitule : "NON affecter") : '..............'}}</td>


							<td style="text-align:center">{{ Vide =='NoN' ?(Candidat.categorie ? Candidat.categorie.intitule : "NON affecter"):'...........' }}</td>


						</tr>


					{% endif %}

				{% endfor %}
			</tbody>
		</table>
	{% endfor %}
{% endblock %}
