<!DOCTYPE html>
<html>
	<head>
		<title>PV</title>
		<meta charset="utf-8">
	</head>

	<body>
		<div>
			<table>

				<tr>

					<td style="width: 20rem; text-align: center;">Royaume du Maroc
						<br>
						Université Abdelmalek Essaidi
						<br>
						Faculté de Médecine et de pharmacie
						<br/>Tanger</td>


					<td style="width: 20rem;"><img src="http://www.fmpt.ac.ma/images/logo.png"/></td>


					<td style="width: 30rem; text-align: center;">المملكة المغربية
						<br/>جامعة عبد المالك السعدي<br/>
						كلية الطب والصيدلة<br/>
						طنجة</td>


				</tr>
			</table>

			{% for type in type_list %}
				<div style="text-align:center;">

					<h2 style="font-family:'Century Gothic';">R&eacute;partition de sp&eacute;cialit&eacute;
						{{type.intitule}}
						par ordre de m&eacute;rite</h2>
				</div>
				<table cellspacing="0" cellpadding="0" style="width:501.3pt; margin-right:auto; margin-left:auto; border:0.75pt solid #000000; border-collapse:collapse;">
					<thead>
						<tr style="height:32.55pt;">
							<td colspan="3" style="width:493.55pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; background-color:#dfdfdf;">
								<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:18pt;">
									<strong>
										<em>Domaine</em>
									</strong>
									<strong>
										<em>&nbsp;</em>
									</strong>
									<strong>
										<em>:
											{{type.intitule}}</em>

									</strong>
								</p>
							</td>
						</tr>
						<tr style="height:32.55pt;">
							<td style="width:63.9pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; background-color:#dfdfdf;">
								<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:15pt;">
									<strong>
										<em>Ordre de M&eacute;rite</em>
									</strong>
								</p>
							</td>
							<td style="width:180.35pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; background-color:#dfdfdf;">
								<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:18pt;">
									<strong>
										<em>Nom &amp; Pr&eacute;nom</em>
									</strong>
								</p>
							</td>
							<td style="width:235.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; background-color:#1f497d;">
								<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:18pt;">
									<strong>
										<em>
											<span style="color:#ffffff;">Sp&eacute;cialit&eacute;{{type.intitule}}
												Choisie</span>
										</em>
									</strong>
								</p>
							</td>
						</tr>
					</thead>
					{% for candidate in candidate_list_affecter %}

						{% if candidate.type.intitule == type.intitule %}


							<tbody>
								<tr style="height:26.95pt;">
									<td style="width:63.9pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt;">
										<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:15pt;">
											<strong>
												<span style="font-family:Cambria;">
													<em>{{candidate.rang|abs}}</em>

												</span>


											</strong>
										</p>
									</td>
									<td style="width:180.35pt; border-style:solid; border-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt; vertical-align:bottom;">
										<p style="margin-top:0pt; margin-bottom:0pt; font-size:14pt;">
											<span style="font-family:Calibri;">{{candidate.nom}}
												{{candidate.Prenom}}</span>

										</p>
									</td>
									<td style="width:235.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:3.12pt; padding-left:3.12pt;">
										<p style="margin-top:0pt; margin-bottom:0pt; font-size:15pt;">
											<strong>
												<span style="font-family:Cambria;">
													{% autoescape false %}

														{{candidate.specialite.intituleHtml|striptags}}

													{% endautoescape %}
												</span>

											</strong>
										</p>
									</td>
								</tr>
							</tbody>
						{% endif %}
					{% endfor %}

				</table>
			{% endfor %}
		</div>
	</body>
</html>
